.middle-container{
    display: flex;
    justify-content: space-around;
    border: 2px solid green;
    padding: 24px 0px;
    background: #198754;
    color: #fff;
    font-size: 20px
}

.reset-btn {
    display: flex;
    align-items: center;
    button {
        padding: 6px 20px;
        font-size: 16px;
        font-weight: bold;
        border: none;
        border-radius: 6px;
        color: #198754;
    }
}
