<h1 mat-dialog-title>Modify Expense List</h1>
<div class="edit-fields">
    <label for="">Product Name</label>
    <input type="text" [(ngModel)]="productName" class="form-control product-name">
    <label for="">Product Cost</label>
    <input type="number"  [(ngModel)]="productPrice" class="form-control">
</div>
<div class="mat-dialog-actions" mat-dialog-actions>
  <button class="close-btn" mat-raised-button color="warn" mat-dialog-close>Close</button>
  <button class="btn btn-success" mat-dialog-close (click)="updateExpenseList()">Update List</button>
</div>
