.main-container{
    border: 2px solid green;
    background: #198754;
    border-radius: 7px;
    height: 262px;
    position: relative;
    margin-top: 50px;
    padding: 24px 47px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    span{
        font-size: 24px;
        text-align: center;
        color: #ffff;
    }
    input{
        margin: 24px 0px;
    }
    .text-danger{
        font-size: 14px !important;
    }
    .expense-btn {
        display: flex;
        justify-content: flex-end;
    }
}
.toast-container{
    position: absolute !important;
    bottom: 195px !important;
    left: 175px;
}
.toast-header,.toast-body{
    background: #eb0000c9;
    color: #ffff;
    strong{
        margin-left: 6px !important;
    }
}
