.main-container{
    background-image: url('../assets/budget-backgroun-image.jpg');
    height: 100vh;
    .main-content {
        display: flex;
        justify-content: space-between;
        padding: 40px;
        .right-section {
            display: flex;
            flex-direction: column;
            padding-right: 40px;
        }
        .left-section {
            flex: 1;
        }
    }
}
